<p class="homepage"><%= link_to('Back to Homepage', {controller: 'users', action: 'index'}) %></p>
<h2>Here is an individual user with their bio and recent posts</h2>

<%= render partial: "layouts/partials/user_header", locals: { user: @user } %><br />

<div class="bio-container">
  <h2>Bio</h2>
  <p><%=@user.bio%></p><br />
</div>
<br />
<button class="create-new-posts-btn"><%= link_to ("Create a post"),new_user_post_path(@user.id)%></button>
<%if @user.posts.count == 0%>
<p>This user does not have any posts!</p>
<% else %>
<%= render partial: "layouts/partials/post_preview", locals: { posts: @user.recent_posts } %><br />
<% end %>

<div class="show-create-button-con">
<%= link_to "see-all-posts-btn" , user_posts_path(@user), class: "btn btn-primary" if @user.posts.count > 0 %>
</div>
