<%= form_with model:  @post, url: user_posts_path, method: :post do |form| %>
<% if @post.errors.any? %>
<div>
      <% @post.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
</div>
<% end %>

<div class="new-html-form">
    <%= form.label :title, class: "forms-label" %>
    <%= form.text_field :title, class: "forms-text_field" %>
    <%= form.label :text, class: "forms-label" %>
    <%= form.text_area :text, size: "70x5", class: "forms-text_field" %>
  <div class="new-html-form-submit">
    <%= form.submit "Create a Post", class: "new-form-submit-btn" %>
  </div>
</div>
<% end %>



  